/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] ,li{
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/************************************/
/* CUSTOM CSS */ 
/************************************/
body{
    background-color: #eee;
    display:flex;
    justify-content: center;
    align-items: center;
}
.quiz-app{
    width:50rem;
    max-width : 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow:  1px 1px 7px 5px #ccc; 
}
@media (max-width: 50em) {
  .quiz-app{
    max-width: 19rem;
  }
}
.quiz-app-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #eee; */
    padding:1rem;
    border-radius: 5px;
}
.quiz-app-content{
    margin-top:0.5rem;
    /* background-color: #eee; */
    padding:1rem;
    border-radius: 5px;
}
.question{
    margin-bottom: 1.2rem;
}
ul li{
  margin-bottom: 1rem;
}
ul li label,ul li input{
  cursor: pointer;
}

.submit-btn,button{
    background-color: #1404f9;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 1rem;
    color: #fff;
}
.submit-btn:hover{
    background-color: #2314ff;
}
.bullets{
  padding: 1rem 0;
  display: flex;
}
.bullets span{
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
 .bullets span.active{
  background-color: #2314ff;
}